
/*
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    max-width: 200px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

!* Example stylistic flourishes *!

.fileContainer {
    background: #64d5ca;
    font-weight: bolder;
    border-radius: .5em;
    float: left;
    padding: .5em;
}

.fileContainer [type=file]:hover{
    cursor: pointer;
}*/

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btns {
     border: 2px solid gray;
     color: gray;
     background-color: white;
     padding: 4px 15px;
     border-radius: 8px;
     font-size: 14px;
     font-weight: bold;
 }

.btn {
    border: 2px solid gray;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

}

.upload-btn-wrapper:hover{
    cursor: pointer;
}