<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="commons/header::common-header"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div th:insert="commons/header::myheader"></div>
        </div>
    </div>
    <div class="row bg-dark" style="margin-top:20px; color:white">
        <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center">
            <h1>Problème d'autorisation</h1>
        </div>
    </div>

    <div class="row bg-danger" style="margin-top:20px">
        <div class="text-center col-md-12">
            <h3>
                Désolé '<span style="color:white">[[${#httpServletRequest.remoteUser}]]</span>',
                vous n'avez pas le droit d'accéder à cette page.
            </h3>
        </div>
    </div>
    <div class="row" style="color:white; margin-top:20px">
        <div class="col-md-12 text-center">
            <img class="img-fluid" th:src="@{/imgs/autorisation_interdite.jpg}" style="width:40%">
        </div>
    </div>
</div>
<div th:replace="commons/footer::body-common-scripts"></div>
</body>
</html>