<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="commons/header::common-header"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div th:insert="commons/header::myheader"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xm-12">
            <div class="row mb-2">
            </div>
            <div class="row">
                <div th:if="${competenceExists == true}"
                     class="text-center alert alert-danger font-weight-bold w-100">
                    <span class="fa fa-times-circle"></span> Il posséde déja cette compétence.
                </div>
                <div th:if="${competenceAdd == true}"
                     class="text-center alert alert-success font-weight-bold w-100">
                    <span class="fa fa-check"></span> une nouvelle compétence lui a été attribuée.
                </div>
                <div th:if="${competenceDelete == true}"
                     class="text-center alert alert-danger font-weight-bold w-100">
                    <span class="fa fa-times-circle"></span> une compétence lui a été retirée.
                </div>
            </div>

            <div class="row">
                <ol class="breadcrumb col-md-12">
                    <li style="margin-right: 20px">
                        <a th:href="@{/medecins}">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                            Retour à la liste des médécins
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/formModifMedecin(id=${medecin.getId()})}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Editer
                        </a>
                    </li>

                </ol>
            </div>

            <div class="row">
                <div class="col-md-3 text-center">
                    <img class="mb-2" th:src="@{'/images/medecins/'+${medecin.getId()}+'_'+${medecin.getNom()}+'_'+${medecin.getPrenom()}+'.png'}" alt="pas photo" style="width: 200px; height: 200px">
                    <form th:action="@{'/changerPhoto'}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" th:value="${medecin.getId()}" >
                        <div class="upload-btn-wrapper text-center" style="width: 200px">
                            <input type="file" name="photo" class="inputfile" accept="image/jpeg,image/png"/>
                            <button class="btns">
                                <span class="fa fa-camera"></span> Changer la photo
                            </button>
                            <span id="filename"></span>
                        </div>
                        <div class="text-center" id="validerImage" style="width: 200px; display: none">
                            <button type="submit" class="btn btn-success">
                                <span class="fa fa-check"></span> Valider
                            </button>
                        </div>
                    </form>

                </div>
                <div class="col-md-8">
                    <div class="row" style="background-color: #099dae">
                        <h2 class="text-center col-md-12" th:text="${medecin.getNom()}+' '+${medecin.getPrenom()}"></h2>

                    </div>
                    <div class="row">
                        <div class="col-md-6" id="property" style="margin-top: 10px;">
                            <p style="font-weight: bolder;font-size: 24px">
                                <strong>Matricule: </strong> <span class="bg-warning" th:text="${medecin.getMatricule()}"></span>
                            </p>
                            <p style="font-weight: bolder;font-size: 24px">
                                <strong>Téléphone : </strong>  <span class="bg-warning" th:text="${medecin.getTelephone()}"></span>
                            </p>
                            <p style="font-weight: bolder;font-size: 24px">
                                <strong>Ville : </strong>  <span class="bg-warning" th:text="${medecin.getVille()}"></span>
                            </p>
                        </div>
                        <div class="col-md-6" style="margin-top: 10px">
                            <p style="font-weight: bolder;font-size: 24px">
                                <strong>Email : </strong>  <span class="bg-warning" th:text="${medecin.getEmail()}"></span>
                            </p>
                            <p style="font-weight: bolder;font-size: 24px">
                                <strong>Date de naissance: </strong>  <span class="bg-warning" th:text="${#dates.format(medecin.getDateNaissance(),'dd/MM/yyyy')}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 10px">
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3" style="margin-top: 10px">
                            <h5 class="text-center">
                                <strong>Spécialisé(e) en</strong>
                            </h5>
                            <div class="text-center">
                                <form th:action="@{/deleteMedecinSpecialite}" th:each="s:${specialiteParticulieres}"
                                      method="POST">
                                    <input type="hidden" name="specialiteName" th:value="${s.getNom()}">
                                    <input type="hidden" name="matricule" th:value="${medecin.getMatricule()}">
                                    <button
                                            type="submit" class="badge badge-success competence" th:text="${s.getNom()}"
                                            data-toggle="tooltip" data-placement="left"
                                            title="Pour l'enlever la compétence cliquez dessus"></button>
                                </form>
                                <a class="badge badge-info" href="" data-toggle="modal" data-target="#addSpecialite"
                                   th:attrappend="data-target=${medecin.getId()}">
                                    + lui ajouter une compétence
                                </a>
                            </div>
                            <div class="modal fade" id="addSpecialite" th:attrappend="id=${medecin.getId()}">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <div class="modal-header text-center">
                                            <h4 class="modal-title">Ajouter une compétence</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <form th:action="@{/addMedecinSpecialite}" method="POST">
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-8 offset-md-2">
                                                        <div class="form-group text-center">
                                                            <label class="control-label">
                                                                <h1><span>Ajouter une nouvelle compétence à </span><span
                                                                        class="text-info"
                                                                        th:text="${medecin.getNom()}+' '+${medecin.getPrenom()}"></span>
                                                                </h1>
                                                            </label>
                                                            <input type="hidden" name="matricule"
                                                                   th:value="${medecin.getMatricule()}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Domaines:</label>
                                                            <select name="specialiteName" class="form-control text-center">
                                                                <option th:each="s:${specialites}" th:value="${s.getNom()}"
                                                                        th:text="${s.getNom()}"></option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <button type="submit" name="ajouter" class="btn btn-primary">
                                                                <span class="fa fa-plus"></span> Ajouter
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12" style="margin-top: 10px">
                            <h4>
                                <span><u>NB</u>: </span><span>Pour enlèver une compétence particulière à un médécin faudra juste cliquer sur celle dont il est <span class="text-danger">spécialisé</span>.</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="commons/footer::body-common-scripts"></div>
<script>

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({title: "Hooray!", animation: true});
        $("#description").collapse('show');
        $("#description").on("show.bs.collapse", function () {
            $(".coulisseur").html('<span class="fa fa-minus"></span> Cacher');
            $(".coulisseur").removeClass("btn-info").addClass("btn-danger");
        });
        $("#description").on("hide.bs.collapse", function () {
            $(".coulisseur").html('<span class="fa fa-plus-circle"></span> Afficher');
            $(".coulisseur").removeClass("btn-danger").addClass("btn-info");
        });
    });
</script>
</body>
</html>