<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="commons/header::common-header"></head>
<body>
<div class="container">
    <div class="row bg-dark" style="margin-top:20px; color:white">
        <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center"

        style="margin-top: 40px;margin-bottom: 40px">
            <h1>Administration au cabinet médical</h1>
            <img th:src="@{imgs/medecin_photos.jpg}" alt="" width="100px" height="100px">
        </div>
    </div>
    <div class="row mb-5 mt-2">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <div class="card bg-dark">
                <div class="card-title pt-2 pb-2 vert-fond
                            text-center text-white-50">
                    <h2>
                     <span class="fa fa-user-circle"></span>   CONNEXION
                    </h2>
                </div>
                <div class="card-body gris-fond">
                    <form th:action="@{/login}" method="post">
                        <fieldset>
                            <h1>Entrez vos identifiants</h1>

                            <div th:if="${param.error}">
                                <div class="alert alert-danger font-weight-bold text-center">
                                    <span class="fa fa-times"></span> nom d'utilisateur ou mot de passe incorrect.
                                </div>
                            </div>
                            <div th:if="${param.logout}">
                                <div class="alert alert-info font-weight-bold text-center">
                                    Vous êtes déconnecté(e).
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" name="username" id="username" class="form-control input-lg"
                                       placeholder="Nom d'utilisateur" required autofocus/>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-lg"
                                       placeholder="Mot de passe" required/>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 offset-md-3">
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">
                                        <span class="fa fa-sign-in"></span> Connnexion
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>