<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="commons/header::common-header"></head>
<body>
<a href="#" title="Haut de page" class="scrollup rounded"><span class="fa fa-arrow-up"></span></a>
<span sec:authentication="name" id="name-authenticate" style="display:none"></span>
<div class="container">
    <div class="jumbotron jumbotron-fluid bg-dark"
         style="margin-top:20px; color:white; border-bottom: 10px solid #018577">
        <div class="container text-center">
            <h1 class="text-vert">Espace d'administration à la gestion de notre cabinet</h1>
            <p>Organisation et gestion des activités relatives au cabinet médical.</p>
            <h3>
		    	<span sec:authorize="isAuthenticated()">
	                Bienvenue <span class="text-warning" id="myName"></span> |
	                <a th:href="@{/logout}">Déconnexion</a>
	            </span>
            </h3>
            <p>
                Le(s) rôle(s) à votre disposition: <span sec:authentication="principal.authorities"
                                                     style="color:grey"></span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:20px">
            <div class="card gris-fond">
                <div class="card-header text-center font-weight-bold vert-fond">
                    Domaines médicaux
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top"
                         th:src="@{/imgs/programme_medical.jpg}"
                         alt="Spécialité médicale" style="width:200px; height:200px">
                </div>
                <div class="card-footer text-center">
                    <a th:href="@{/specialites}" class="text-white-50">
                        Gestion des différentes spécialités médicales
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:20px">
            <div class="card gris-fond">
                <div class="card-header text-center font-weight-bold vert-fond">
                    Créneaux Horaires
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top"
                         th:src="@{/imgs/creneau.jpg}"
                         alt="utilisateurs" style="width:200px; height:200px">
                </div>
                <div class="card-footer text-center">
                    <a th:href="@{/creneaux}" class="text-white-50">
                        Gestion des créneaux horaires des médecins du cabinet médical
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:20px">
            <div class="card gris-fond">
                <div class="card-header text-center font-weight-bold vert-fond">
                    Médécins
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top"
                         th:src="@{/imgs/medecin.jpg}"
                         alt="utilisateurs" style="width:200px; height:200px">
                </div>
                <div class="card-footer text-center">
                    <a th:href="@{/medecins}" class="text-white-50">
                        Gestion des médécins du cabinet <br/>médical
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:20px">
            <div class="card gris-fond">
                <div class="card-header text-center font-weight-bold vert-fond">
                    Patients
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top"
                         th:src="@{/imgs/patient.jpg}"
                         alt="patients" style="width:200px; height:200px">
                </div>
                <div class="card-footer text-center">
                    <a th:href="@{/patients}" class="text-white-50">
                        Consulter la liste des patients
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" sec:authorize="hasRole('ROLE_SUPERADMIN')" style="margin-top:20px">
            <div class="card gris-fond">
                <div class="card-header text-center font-weight-bold vert-fond">
                    Utilisateurs
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top"
                         th:src="@{/imgs/comptes_utilisateurs.png}"
                         alt="utilisateurs" style="width:200px; height:200px">
                </div>
                <div class="card-footer text-center">
                    <a th:href="@{/users}" class="text-white-50">
                        Gestion des utilisateurs de cette application
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="commons/footer::myfooter"></div>
    <div th:replace="commons/footer::body-common-scripts"></div>
</div>
</body>
</html>